@{
  ViewData["Title"] = "Home Page";
    
}

@model WeatherData

<div class="text-center">
    <h1 class="display-4">Weather Data</h1>
    <p>Weather Data</p>
    <p>ID: @Model.city</p>
    <p>Name: @Model.state</p>
    <p>Price: @Model.zip</p>
</div>
